<h1 class="my-3">Plano de Estudos</h1>

<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <h4>Período: 2018.2</h4>
      <%= link_to 'Nova Inscrição', inscricao_new_path, class: 'btn btn-success' %>
    </div>
  </div>
  <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" class="col-7">Disciplina</th>
            <th scope="col" class="col-2">Turma</th>
            <th scope="col" class="col-3">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Programação I</td>
            <td>A1</td>
            <td>
                <div>
                  <%= link_to 'Trocar Turma', troca_turma_new_path, class: 'btn btn-primary' %>
                  <%= link_to 'Cancelar', cancelamento_turma_index_path, class: 'btn btn-danger' %>
                </div>
            </td>
          </tr>
          <tr>
            <td>Redes I</td>
            <td>A1</td>
            <td>
                <div>
                  <%= link_to 'Trocar Turma', troca_turma_new_path, class: 'btn btn-primary' %>
                  <%= link_to 'Cancelar', cancelamento_turma_index_path, class: 'btn btn-danger' %>
                </div>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>