<h1 class="my-3">Plano de Estudos</h1>

<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <h4>Período: 2018.2</h4>
      <%= link_to 'Nova Inscrição', inscricao_new_path, class: 'btn btn-success' %>
    </div>
  </div>
  <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr class="d-flex">
            <th class="col-7">Disciplina</th>
            <th class="col-2">Turma</th>
            <th class="col-3">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr class="d-flex">
            <td class="col-7 d-flex align-items-center">Programação I</td>
            <td class="col-2 d-flex align-items-center">A1</td>
            <td class="col-3 d-flex flex-column align-items-center">
              <%= link_to 'Trocar Turma', troca_turma_new_path, class: 'btn btn-primary w-90 mb-2' %>
              <%= link_to 'Cancelar', cancelamento_turma_index_path, class: 'btn btn-danger w-90' %>
            </td>
          </tr>
          <tr class="d-flex">
            <td class="col-7 d-flex align-items-center">Redes I</td>
            <td class="col-2 d-flex align-items-center">A1</td>
            <td class="col-3 d-flex flex-column align-items-center">
              <%= link_to 'Trocar Turma', troca_turma_new_path, class: 'btn btn-primary w-90' %>
              <%= link_to 'Cancelar', cancelamento_turma_index_path, class: 'btn btn-danger w-90 mt-2' %>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>